%span.designers-link.js__toggler-hover{:"data-toggle" => "#designers"}
  дизайнеры a-z
  %span.designers-close.js__toggler-click{:"data-toggle" => "#designers"}

.js__tbox.js__noscroll.designers.js__des#designers
  .designers-filter.js__des-filter
    %a.designers-filter-reset.js__des-filter-reset.is__active{:href => "#"} все
    .designers-filter-list.js__des-filter-list
      %a{:href => "#"} 123
      %a{:href => "#"} A
      %a{:href => "#"} B
      %a{:href => "#"} C
      %a{:href => "#"} D
      %a{:href => "#"} E
      %a{:href => "#"} F
      %a{:href => "#"} G
      %a{:href => "#"} H
      %a{:href => "#"} I
      %a{:href => "#"} G
      %a{:href => "#"} K
      %a{:href => "#"} L
      %a{:href => "#"} M
      %a{:href => "#"} N
      %a{:href => "#"} O
      %a{:href => "#"} P
      %a{:href => "#"} Q
      %a{:href => "#"} R
      %a{:href => "#"} S
      %a{:href => "#"} T
      %a{:href => "#"} U
      %a{:href => "#"} V
      %a{:href => "#"} W
      %a{:href => "#"} X
      %a{:href => "#"} Y
      %a{:href => "#"} Z
  .designers-list.js__des-list.scroll
    %li.des__123
      %a{:href => "#"} 3 Concept Eyes
    %li.des__a
      %a{:href => "#"} Acne
    %li.des__a
      %a{:href => "#"} Adam
    %li.des__a
      %a{:href => "#"} AlbertaFerrettiasdasdasdas
    %li.des__a
      %a{:href => "#"} Alexander McQueen
    %li.des__a
      %a{:href => "#"} Alexander Wang
    %li.des__a
      %a{:href => "#"} Alexis Bittar
    %li.des__a
      %a{:href => "#"} Ali Ro
    %li.des__a
      %a{:href => "#"} Alice & Olivia
    %li.des__a
      %a{:href => "#"} Alice by Temperley
    %li.des__a
      %a{:href => "#"} Acne
    %li.des__a
      %a{:href => "#"} Adam
    %li.des__a
      %a{:href => "#"} Alberta Ferretti
    %li.des__a
      %a{:href => "#"} Alexander McQueen
    %li.des__a
      %a{:href => "#"} Alexander Wang
    %li.des__a
      %a{:href => "#"} Alexis Bittar
    %li.des__a
      %a{:href => "#"} Ali Ro
    %li.des__a
      %a{:href => "#"} Alice & Olivia
    %li.des__a
      %a{:href => "#"} Alice by Temperley
    %li.des__c
      %a{:href => "#"} Chloe
    %li.des__c
      %a{:href => "#"} Christian Lacroix
    %li.des__c
      %a{:href => "#"} Colette Jewelry
    %li.des__c
      %a{:href => "#"} Conditions Apply
    %li.des__c
      %a{:href => "#"} Coralia Leets
    %li.des__c
      %a{:href => "#"} Costume National
    %li.des__c
      %a{:href => "#"} Current Elliot
    %li.des__c
      %a{:href => "#"} Cut25
    %li.des__d
      %a{:href => "#"} Dasha Gauzer
    %li.des__d
      %a{:href => "#"} Deepa Gurnani
    %li.des__d
      %a{:href => "#"} Die_Blonde
    %li.des__d
      %a{:href => "#"} Dries Van Noten
    %li.des__d
      %a{:href => "#"} DRKSHDW by Rick Owens
    %li.des__f
      %a{:href => "#"} Felder Felder
    %li.des__i
      %a{:href => "#"} I Am
    %li.des__i
      %a{:href => "#"} Icon by Julia Safina
    %li.des__i
      %a{:href => "#"} Iqdress
    %li.des__i
      %a{:href => "#"} Issa
    %li.des__j
      %a{:href => "#"} Jil Sandler
    %li.des__j
      %a{:href => "#"} Junk Food
    %li.des__k
      %a{:href => "#"} Kenzo
    %li.des__l
      %a{:href => "#"} La  Room
    %li.des__l
      %a{:href => "#"} Lasuna
    %li.des__l
      %a{:href => "#"} Leila Shams
    %li.des__l
      %a{:href => "#"} Lena by Lena Vasyleva
    %li.des__l
      %a{:href => "#"} Libellulas
    %li.des__l
      %a{:href => "#"} Lin Art Project
    %li.des__m
      %a{:href => "#"} Maloles
    %li.des__m
      %a{:href => "#"} Marc by Marc Jacobs
    %li.des__m
      %a{:href => "#"} Marios Schwab
    %li.des__m
      %a{:href => "#"} Mark Fast
    %li.des__m
      %a{:href => "#"} Markus Lupfer
    %li.des__m
      %a{:href => "#"} Masterpeace
    %li.des__m
      %a{:href => "#"} Minaromina
    %li.des__n
      %a{:href => "#"} Nanushka
    %li.des__n
      %a{:href => "#"} Nicholas Kirkwood
    %li.des__p
      %a{:href => "#"} Pauric Sweeney
    %li.des__p
      %a{:href => "#"} Preen
    %li.des__q
      %a{:href => "#"} Queensbee
    %li.des__r
      %a{:href => "#"} R. Pally
    %li.des__r
      %a{:href => "#"} Rachel Roy
    %li.des__r
      %a{:href => "#"} Ruban
    %li.des__r
      %a{:href => "#"} Ruffian
    %li.des__r
      %a{:href => "#"} Rupert Sanderson
    %li.des__s
      %a{:href => "#"} ST by Teplov
    %li.des__t
      %a{:href => "#"} T-bags
    %li.des__t
      %a{:href => "#"} Tatjana Anika
    %li.des__t
      %a{:href => "#"} Terry de Havilland
    %li.des__t
      %a{:href => "#"} Tucker
    %li.des__u
      %a{:href => "#"} Ugg
    %li.des__v
      %a{:href => "#"} V by Vlasova
    %li.des__v
      %a{:href => "#"} Vanushina
    %li.des__v
      %a{:href => "#"} Vera Wang
    %li.des__v
      %a{:href => "#"} Vlasova
    %li.des__w
      %a{:href => "#"} Wildfox Couture
    %li.des__z
      %a{:href => "#"} ZDDZ
