.js__tbox.menubox.nervous#logomenu
  .holder
    .menubox-block
      %h2
        %a{:href => "#"} О компании
      %ul
        %li
          %a{:href => "#"} О нас
        %li
          %a{:href => "#"} Контакты
        %li
          %a{:href => "#"} Подарочная карта
        %li
          %a{:href => "#"} Бонусная программа
        %li
          %a{:href => "#"} Условия использования
        %li
          %a{:href => "#"} Сотрудничество
        %li
          %a{:href => "#"} Вакансии
    .menubox-block
      %h2
        %a{:href => "#"} Помощь
      %ul
        %li
          %a{:href => "#"} Оплата
        %li
          %a{:href => "#"} Доставка
        %li
          %a{:href => "#"} Обмен и возврат
        %li
          %a{:href => "#"} Вопрос-ответ
        %li
          %a{:href => "#"} Задать вопрос
    .menubox-block.menubox-block_wide
      = partial :promo, :locals => {:text => "<strong>Доставка</strong> <br/><small>в любую точку</small><br/> России <small>и</small> СНГ", :framed => true}
