.js__tbox.js__menubox.scroll.menubox#mmenu.nervous
  .menubox-overlay.js__menubox-closer
  .menubox-body
    .menubox-block
      %h2
        %a{:href => "#"} Новинки
    .menubox-block.js__block.js__menubox-block
      %h2.menubox-sub-clicker
        %span.js__menubox-block-clicker Одежда
      %ul.menubox-sub
        %li
          %a{:href => "#"} Пиджаки
        %li
          %a{:href => "#"} Платья
        %li
          %a{:href => "#"} Рубашки
        %li
          %a{:href => "#"} Брюки / шорты
        %li
          %a{:href => "#"} Джинсы
        %li
          %a{:href => "#"} Юбки
        %li
          %a{:href => "#"} Трикотаж
        %li
          %a{:href => "#"} Пальтр
        %li
          %a{:href => "#"} Нижнее бельё
        %li
          %a{:href => "#"} Купальники
    .menubox-block.js__menubox-block
      %h2.menubox-sub-clicker
        %a.js__menubox-block-clicker{:href => "#"} Аксессуары
      %ul.menubox-sub
        %li
          %a{:href => "#"} Сумки
        %li
          %a{:href => "#"} Кошельки
        %li
          %a{:href => "#"} Ремни
        %li
          %a{:href => "#"} Шарфы
        %li
          %a{:href => "#"} Шапки
        %li
          %a{:href => "#"} Носки
        %li
          %a{:href => "#"} Часы
        %li
          %a{:href => "#"} Драгоценности
        %li
          %a{:href => "#"} Солнечные очки
        %li
          %a{:href => "#"} Парфюмерия
    .menubox-block.js__menubox-block
      %h2.menubox-sub-clicker
        %a.js__menubox-block-clicker{:href => "#"} Обувь
      %ul.menubox-sub
        %li
          %a{:href => "#"} Новинки
        %li
          %a{:href => "#"} Лукбуки
        %li
          %a{:href => "#"} Скидки
        %li
          %a{:href => "#"} Тренеры
        %li
          %a{:href => "#"} Бестселлеры
    .menubox-block.js__menubox-block
      %h2.menubox-sub-clicker
        %a.js__menubox-block-clicker{:href => "#"} Featured
      %ul.menubox-sub
        %li
          %a{:href => "#"} Новинки
        %li
          %a{:href => "#"} Лукбуки
        %li
          %a{:href => "#"} Скидки
        %li
          %a{:href => "#"} Тренеры
        %li
          %a{:href => "#"} Бестселлеры
    .menubox-block.menubox-block_lost
      %h2
        %a{:href => "#"} Sale
      %h2
        %a{:href => "#"} Бренды A-Z
      .menubox-user
        %h2
          %a.js__toggler-click{:href => "#", :"data-toggle" => "#register"} Регистрация
        %h2
          %a.js__toggler-click{:href => "#", :"data-toggle" => "#login"} Войти



.js__tbox.js__menubox.menubox#mlogomenu.nervous
  .menubox-overlay.js__menubox-closer
  .menubox-body
    .menubox-block.js__block.js__menubox-block
      %h2.menubox-sub-clicker
        %a.js__menubox-block-clicker{:href => "#"} О компании
      %ul.menubox-sub
        %li
          %a{:href => "#"} О нас
        %li
          %a{:href => "#"} Контакты
        %li
          %a{:href => "#"} Подарочная карта
        %li
          %a{:href => "#"} Бонусная программа
        %li
          %a{:href => "#"} Условия использования
        %li
          %a{:href => "#"} Сотрудничество
        %li
          %a{:href => "#"} Вакансии

    .menubox-block.js__block.js__menubox-block
      %h2.menubox-sub-clicker
        %a.js__menubox-block-clicker{:href => "#"} Помощь
      %ul.menubox-sub
        %li
          %a{:href => "#"} Оплата
        %li
          %a{:href => "#"} Доставка
        %li
          %a{:href => "#"} Обмен и возврат
        %li
          %a{:href => "#"} Вопрос-ответ
        %li
          %a{:href => "#"} Задать вопрос
