%table.table.table_sizechart.table_stripped
  %colgroup
    %col.col_sizechart-title/
  %tbody
    %tr
      %td= title
      %td XXS
      %td XS
      %td S
      %td M
      %td L
      %td XL
      %td XXL
    %tr
      %td ru
      %td 40
      %td 42
      %td 44
      %td 46
      %td 48
      %td 50
      %td 52
    %tr
      %td uk
      %td 6
      %td 8
      %td 10
      %td 12
      %td 14
      %td 16
      %td 18
    %tr
      %td us
      %td 0
      %td 2
      %td 4
      %td 6
      %td 8
      %td 10
      %td 12
    %tr
      %td fr
      %td 34
      %td 36
      %td 38
      %td 40
      %td 42
      %td 44
      %td 46
    %tr
      %td sw
      %td 34
      %td 36
      %td 38
      %td 40
      %td 42
      %td 44
      %td 46
