.form {
  .button {
    width: 210px;
    font-size: 15px;
    line-height: 32px;
    height: 34px;
  }
}
.form-row {
  position: relative;
  margin-bottom: 28px;
}
.form-row_btn {
  margin-bottom: 0;
  text-align: right;
  .button {
    min-width: 165px;
    height: 34px;
    line-height: 32px;
    font-size: 15px;
  }
}
.form-label {
  display: block;
  margin-bottom: 10px;
  font: 14px/18px $fontAlt;
  text-transform: uppercase;
}
.form-input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #dedede;
  padding: 0 10px;
  height: 28px;
  font-size: 12px;
  color: #636363;
  outline: 0;
  &:focus {

  }
}
textarea.form-input {
  padding: 8px 10px;
  height: 110px;
}
.form-input_short {
  width: 210px;
}
.form-helper {
  font-size: 11px;
  line-height: 16px;
  font-style: italic;
  color: #a3a3a3;
}
.form-checkbox {
  display: block;
  position: relative;
  font-size: 12px;
  line-height: 16px;
  padding-left: 25px;
  input {
    position: absolute;
    top: 2px;
    left: 0;
  }
}

.form-helper_zip {
  position: absolute;
  top: 100%;
  margin-top: 5px;
  font-size: 11px;
  font-style: italic;
  width: 100%;
  // margin-top: -3px;
  // float: right;
}
.form-radio {
  font-size: 12px;
  color: #636363;
  margin-right: 1em;
  cursor: pointer;
  input {
    margin-right: 3px;
  }
  input:checked + span {
    color: #000;
  }
}
.form-notifier {
  position: absolute;
  display: none;
  top: 100%;
  margin-top: 5px;
  font-size: 11px;
  font-style: italic;
}

.form-error {
  &:after {
    content: '!';
    font-size: 14px;
    line-height: 28px;
    color: #e62027;
    position: absolute;
    top: 26px;
    left: 100%;
    margin-left: 10px;
  }
  .form-input { border-color: #e62027; color: #e62027;}
  .form-notifier { display: block; color: #e62027; }
}


.prechoice {
  font: 14px $fontAlt;
  text-transform: uppercase;
  margin-bottom: 10px;
  a {
    margin: 0 .5em;
    &:after {
      content: ' ›';
    }
    &.is__active {
      // font-style: italic;
    }
  }
}
