.promo {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  float: none;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 8px;
  width: 325px;
  background-size: cover;
  text-align: center;
  letter-spacing: 0;
  line-height: 179px;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  &:after {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 9;
    background: #000;
    content: '';
    opacity: 0;
    transition: opacity .3s;
  }
  &:hover {
    opacity: 1;
    &:after {
      opacity: .3;
      transition-duration: .1s;
    }
  }
  @include respond-to(tablet) {
    top: 0 !important;
  }
}
.promo-image {
  display: block;
  width: 100%;
}
.promo_framed {
  border: 8px solid #000;
}
.promo_framed_white {
  border-color: #fff;
}
.promo_black .promo-text-body {
  color: #000;
}
.promo-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.promo-text-wrapper {
  display: table;
  height: 100%;
  width: 100%;
}
.promo-text-body {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font: bold 24px/1.3 $fontAlt;
  @include respond-to(mob) {
    font-size: 16px;
  }
  span {
    letter-spacing: .4em;
    font-size: 2em;
    small {
      font-size: .625em;
    }
  }
  small {
    position: relative;
    top: -3px;
    vertical-align: middle;
    text-transform: none;
    letter-spacing: 0;
    font-weight: normal;
    font-style: italic;
    font-size: .667em;
  }
}
