.alphabet
  .alphabet-holder
    %a{:href => "#"} все
    .alphabet-list
      %a{:href => "#"} 1
      %a{:href => "#"} 2
      %a{:href => "#"} 3
      %a{:href => "#"} A
      %a{:href => "#"} B
      %a{:href => "#"} C
      %a{:href => "#"} D
      %a{:href => "#"} E
      %a{:href => "#"} F
      %a{:href => "#"} G
      %a{:href => "#"} H
      %a{:href => "#"} I
      %a{:href => "#"} G
      %a{:href => "#"} K
      %a{:href => "#"} L
      %a{:href => "#"} M
      %a{:href => "#"} N
      %a{:href => "#"} O
      %a{:href => "#"} P
      %a{:href => "#"} Q
      %a{:href => "#"} R
      %a{:href => "#"} S
      %a{:href => "#"} T
      %a{:href => "#"} U
      %a{:href => "#"} V
      %a{:href => "#"} W
      %a{:href => "#"} X
      %a{:href => "#"} Y
      %a{:href => "#"} Z
