.banner.js__banner
  %span.js__banner-close.banner-close ×
  %a.promo{:href => "#", :"data-bannerId" => "5134"}
    %span.promo-text
      %span.promo-text-wrapper
        %span.promo-text-body Осень <br/> <small>в</small> burberry
    %img{:src => "#{images_dir}/data/bnr1.jpg", :alt => ""}/
