.side.filterbox.js__filterbox.js__tbox.scroll#filters
  .filterbox-body
    .block.filters-appl.is__active
      %h2.block-header Фильтры
      .block-body
        %span.filter-item-apply-all.js__filter-apply Применить
        %span.filter-item-disable-all.js__filter-reset Очистить все
        .filter-flatlist.js__flist
    %h2.side-az.on__desk
      %a{:href => "designers.html"} Дизайнеры A-Z
    %a.filter-item-apply.filter-item-apply_top.button{:href => "#"} Применить
    .block.js__block.is__active
      %h2.block-header
        %a.js__block-clicker{:href => "#"} одежда
      .block-body.scroll.js__tbox.js__tbox-m#filter-category
        %ul.category-list
          %li.category-item
            %a.category-title{:href => "#"} Пиджаки
            %ul.filter-list
              %li.filter-item{:"data-id" => 1} Для отдыха
              %li.filter-item{:"data-id" => 2}  Для отдыха
          %li.category-item.is__active
            %a.category-title{:href => "#"} Платья
            %ul.filter-list
              %li.filter-item{:"data-id" => 3} Для отдыха
              %li.filter-item{:"data-id" => 4} Платье-майка
              %li.filter-item{:"data-id" => 5} Асимметричные
              %li.filter-item{:"data-id" => 6} Повседневные
              %li.filter-item{:"data-id" => 7} Офисные
              %li.filter-item{:"data-id" => 8} Макси
              %li.filter-item{:"data-id" => 9} На вечеринку
              %li.filter-item{:"data-id" => 10} На запахе
              %li.filter-item{:"data-id" => 11} Мини
          %li.category-item
            %a.category-title{:href => "#"} Рубашки
            %ul.filter-list
              %li.filter-item{:"data-id" => 12} Первый
              %li.filter-item{:"data-id" => 13} Второй
              %li.filter-item{:"data-id" => 14} Третий
          %li.category-item
            %a.category-title{:href => "#"} Брюки / Шорты
            %ul.filter-list
              %li.filter-item{:"data-id" => 15} Первый
              %li.filter-item{:"data-id" => 16} Второй
              %li.filter-item{:"data-id" => 17} Третий
          %li.category-item
            %a.category-title{:href => "#"} Джинсы
            %ul.filter-list
              %li.filter-item{:"data-id" => 18} Первый
              %li.filter-item{:"data-id" => 19} Второй
              %li.filter-item{:"data-id" => 20} Третий
          %li.category-item
            %a.category-title{:href => "#"} Юбки
            %ul.filter-list
              %li.filter-item{:"data-id" => 21} Первый
              %li.filter-item{:"data-id" => 22} Второй
              %li.filter-item{:"data-id" => 23} Третий
          %li.category-item
            %a.category-title{:href => "#"} Трикотаж
            %ul.filter-list
              %li.filter-item{:"data-id" => 24} Первый
              %li.filter-item{:"data-id" => 25} Второй
              %li.filter-item{:"data-id" => 26} Третий
          %li.category-item
            %a.category-title{:href => "#"} Пальто
            %ul.filter-list
              %li.filter-item{:"data-id" => 27} Первый
              %li.filter-item{:"data-id" => 28} Второй
              %li.filter-item{:"data-id" => 29} Третий
          %li.category-item
            %a.category-title{:href => "#"} Нижнее белье
            %ul.filter-list
              %li.filter-item{:"data-id" => 30} Первый
              %li.filter-item{:"data-id" => 31} Второй
              %li.filter-item{:"data-id" => 32} Третий
          %li.category-item
            %a.category-title{:href => "#"} Купальники
            %ul.filter-list
              %li.filter-item{:"data-id" => 33} Первый
              %li.filter-item{:"data-id" => 34} Второй
              %li.filter-item{:"data-id" => 35} Третий
      %a.filter-category-cleaner.js__filter-category-cleaner{:href => "#"} Очистить категорию

    .block.js__block.is__active
      %h2.block-header
        %a.js__block-clicker{:href => "#"} дизайнеры
      .block-body.scroll.js__tbox.js__tbox-m#filter-designers
        %ul.filter-list
          %li.filter-item{:"data-id" => 36} Acne
          %li.filter-item{:"data-id" => 37} Alexander McQueen
          %li.filter-item{:"data-id" => 38} Alex Monroe
          %li.filter-item{:"data-id" => 39} Balmain
          %li.filter-item{:"data-id" => 40} Boss
          %li.filter-item{:"data-id" => 41} Bottega Veneta
          %li.filter-item{:"data-id" => 42} Calvin Klein
          %li.filter-item{:"data-id" => 43} Chloé
          %li.filter-item{:"data-id" => 44} Christian Louboutin
          %li.filter-item{:"data-id" => 45} Dolce & Gabbana
          %li.filter-item{:"data-id" => 46} Acne
          %li.filter-item{:"data-id" => 47} Alexander McQueen
          %li.filter-item{:"data-id" => 48} Alex Monroe
          %li.filter-item{:"data-id" => 49} Balmain
          %li.filter-item{:"data-id" => 50} Boss
          %li.filter-item{:"data-id" => 51} Bottega Veneta
          %li.filter-item{:"data-id" => 52} Calvin Klein
          %li.filter-item{:"data-id" => 53} Chloé
          %li.filter-item{:"data-id" => 54} Christian Louboutin
          %li.filter-item{:"data-id" => 55} Dolce & Gabbana
      %a.filter-category-cleaner.js__filter-category-cleaner{:href => "#"} Очистить категорию

    .block.js__block
      %h2.block-header
        %a.js__block-clicker{:href => "#"} размер

      .block-body.scroll.js__tbox.js__tbox-m#filter-size
        %ul.filter-list
          %li.filter-item{:"data-id" => 56} 1
          %li.filter-item{:"data-id" => 57} 2
          %li.filter-item{:"data-id" => 58} 3
          %li.filter-item{:"data-id" => 59} 4
          %li.filter-item{:"data-id" => 60} 5
          %li.filter-item{:"data-id" => 61} 6
      %a.filter-category-cleaner.js__filter-category-cleaner{:href => "#"} Очистить категорию

    .block.js__block
      %h2.block-header
        %a.js__block-clicker{:href => "#"} цвет
      .block-body.scroll.js__tbox.js__tbox-m#filter-color
        %ul.filter-list
          %li.filter-item{:"data-id" => 62} Белый
          %li.filter-item{:"data-id" => 63} Серый
          %li.filter-item{:"data-id" => 64} Красный
          %li.filter-item{:"data-id" => 65} Синий
          %li.filter-item{:"data-id" => 66} Зелёный
          %li.filter-item{:"data-id" => 67} Прозрачный
      %a.filter-category-cleaner.js__filter-category-cleaner{:href => "#"} Очистить категорию

    .block.js__block
      %h2.block-header
        %a.js__block-clicker{:href => "#"} цена
      .block-body.scroll.js__tbox.js__tbox-m#filter-cost
        %ul.filter-list
          %li.filter-item{:"data-id" => 68} 0 – 10 000
          %li.filter-item{:"data-id" => 69} 10 000 – 20 000
          %li.filter-item{:"data-id" => 70} 20 000 – 30 000
          %li.filter-item{:"data-id" => 71} 30 000 – 40 000
          %li.filter-item{:"data-id" => 72} 40 000 – 50 000
          %li.filter-item{:"data-id" => 73} 50 000 – 60 000
      %a.filter-category-cleaner.js__filter-category-cleaner{:href => "#"} Очистить категорию

    .block.js__block
      %h2.block-header
        %a.js__block-clicker{:href => "#"} гардероб
      .block-body.scroll.js__tbox.js__tbox-m#filter-ward
        %ul.filter-list
          %li.filter-item{:"data-id" => 74} 1
          %li.filter-item{:"data-id" => 75} 2
          %li.filter-item{:"data-id" => 76} 3
          %li.filter-item{:"data-id" => 77} 4
          %li.filter-item{:"data-id" => 78} 5
          %li.filter-item{:"data-id" => 79} 6

    %a.filter-item-apply.button{:href => "#"} Применить
.filterbox-overlay#js__filterbox-overlay.js__noscroll
