- page ||= ""

.sidebox-close.js__closer
.sidebox-body.scroll
  %h2.side-az.on__desk
    %a{:href => "designers.html"} Дизайнеры A-Z
  - if page == "journal"
    .block.js__block.is__active
      %h2.block-header.on__desk
        %a.js__block-clicker{:href => "j-journal.html"} Журнал
      .block-body
        %h2.on__mobile Рубрики
        %ul
          %li
            %a{:href => "j-journal.html"} Backpacks
          %li
            %a{:href => "j-journal.html"} Round sunglasses
          %li
            %a{:href => "j-journal.html"} Colorful suits
          %li
            %a{:href => "j-journal.html"} Printed t-shirts
          %li
            %a{:href => "j-journal.html"} Gucci loafers
          %li
            %a{:href => "j-journal.html"} Backpacks
          %li
            %a{:href => "j-journal.html"} Round sunglasses
          %li
            %a{:href => "j-journal.html"} Colorful suits
          %li
            %a{:href => "j-journal.html"} Printed t-shirts
          %li
            %a{:href => "j-journal.html"} Gucci loafers
          %li
            %a{:href => "j-journal.html"} Backpacks
          %li
            %a{:href => "j-journal.html"} Round sunglasses
          %li
            %a{:href => "j-journal.html"} Colorful suits
          %li
            %a{:href => "j-journal.html"} Printed t-shirts
          %li
            %a{:href => "j-journal.html"} Gucci loafers
          %li
            %a{:href => "j-journal.html"} Backpacks
    .block.js__block
      %h2.block-header.on__desk
        %a.js__block-clicker{:href => "j-trends.html"} Тренды
      .block-body
        %h2.on__mobile Списки
        %ul
          %li
            %a{:href => "j-trends.html"} Backpacks
          %li
            %a{:href => "j-trends.html"} Round sunglasses
          %li
            %a{:href => "j-trends.html"} Colorful suits
          %li
            %a{:href => "j-trends.html"} Printed t-shirts
          %li
            %a{:href => "j-trends.html"} Gucci loafers
          %li
            %a{:href => "j-trends.html"} Backpacks
    %h2
      %a{:href => "j-media.html"} Пресса о нас

  - elsif page == "trends"
    .block.js__block.is__active
      %h2.block-header.on__desk
        %a.js__block-clicker{:href => "j-trends.html"} Тренды
      .block-body
        %h2.on__mobile Списки
        %ul
          %li
            %a{:href => "j-trends.html"} Backpacks
          %li
            %a{:href => "j-trends.html"} Round sunglasses
          %li
            %a{:href => "j-trends.html"} Colorful suits
          %li
            %a{:href => "j-trends.html"} Printed t-shirts
          %li
            %a{:href => "j-trends.html"} Gucci loafers
          %li
            %a{:href => "j-trends.html"} Backpacks

    .block.js__block
      %h2.block-header.on__desk
        %a.js__block-clicker{:href => "j-journal.html"} Журнал
      .block-body
        %h2.on__mobile Рубрики
        %ul
          %li
            %a{:href => "j-journal.html"} Backpacks
          %li
            %a{:href => "j-journal.html"} Round sunglasses
          %li
            %a{:href => "j-journal.html"} Colorful suits
          %li
            %a{:href => "j-journal.html"} Printed t-shirts
          %li
            %a{:href => "j-journal.html"} Gucci loafers
          %li
            %a{:href => "j-journal.html"} Backpacks
          %li
            %a{:href => "j-journal.html"} Round sunglasses
          %li
            %a{:href => "j-journal.html"} Colorful suits
          %li
            %a{:href => "j-journal.html"} Printed t-shirts
          %li
            %a{:href => "j-journal.html"} Gucci loafers
          %li
            %a{:href => "j-journal.html"} Backpacks
          %li
            %a{:href => "j-journal.html"} Round sunglasses
          %li
            %a{:href => "j-journal.html"} Colorful suits
          %li
            %a{:href => "j-journal.html"} Printed t-shirts
          %li
            %a{:href => "j-journal.html"} Gucci loafers
          %li
            %a{:href => "j-journal.html"} Backpacks
    %h2
      %a{:href => "j-media.html"} Пресса о нас

  - else
    .block.js__block
      %h2.block-header.on__desk
        %a.js__block-clicker{:href => "j-journal.html"} Журнал
      .block-body
        %h2.on__mobile Рубрики
        %ul
          %li
            %a{:href => "j-journal.html"} Backpacks
          %li
            %a{:href => "j-journal.html"} Round sunglasses
          %li
            %a{:href => "j-journal.html"} Colorful suits
          %li
            %a{:href => "j-journal.html"} Printed t-shirts
          %li
            %a{:href => "j-journal.html"} Gucci loafers
          %li
            %a{:href => "j-journal.html"} Backpacks
          %li
            %a{:href => "j-journal.html"} Round sunglasses
          %li
            %a{:href => "j-journal.html"} Colorful suits
          %li
            %a{:href => "j-journal.html"} Printed t-shirts
          %li
            %a{:href => "j-journal.html"} Gucci loafers
          %li
            %a{:href => "j-journal.html"} Backpacks
          %li
            %a{:href => "j-journal.html"} Round sunglasses
          %li
            %a{:href => "j-journal.html"} Colorful suits
          %li
            %a{:href => "j-journal.html"} Printed t-shirts
          %li
            %a{:href => "j-journal.html"} Gucci loafers
          %li
            %a{:href => "j-journal.html"} Backpacks
    .block.js__block
      %h2.block-header.on__desk
        %a.js__block-clicker{:href => "j-trends.html"} Тренды
      .block-body
        %h2.on__mobile Списки
        %ul
          %li
            %a{:href => "j-trends.html"} Backpacks
          %li
            %a{:href => "j-trends.html"} Round sunglasses
          %li
            %a{:href => "j-trends.html"} Colorful suits
          %li
            %a{:href => "j-trends.html"} Printed t-shirts
          %li
            %a{:href => "j-trends.html"} Gucci loafers
          %li
            %a{:href => "j-trends.html"} Backpacks

    - if page == "media"
      %h2.is__active
        %a{:href => "j-media.html"} Пресса о нас
    - else
      %h2
        %a{:href => "j-media.html"} Пресса о нас
