%ul
  %li
    %a{:href => "index.html"} Главная
  %li
    %a{:href => "index-prlx.html"} Главная (параллакс промоблоков)
  %li
    %a{:href => "index-slides.html"} Главная (полноэкранный скролл)
  %li
    %a{:href => "catalog.html"} Каталог
  %li
    %a{:href => "item.html"} Продукт
  %li
    %a{:href => "item-g.html"} Подарочная карта
  %li
    %a{:href => "cart.html"} Корзина
  %li
    %a{:href => "checkout.html"} Оформление заказа
  %li
    %a{:href => "checkout-g.html"} Оформление заказа (гость)
  %li
    %a{:href => "a-personal.html"} Мой аккаунт — Персональные данные
  %li
    %a{:href => "a-orders.html"} Мой аккаунт — Заказы
  %li
    %a{:href => "a-orders-e.html"} Мой аккаунт — Заказы (пусто)
  %li
    %a{:href => "a-wishlist.html"} Мой аккаунт — Вишлист
  %li
    %a{:href => "a-wishlist-e.html"} Мой аккаунт — Вишлист (пусто)
  %li
    %a{:href => "a-bonuses.html"} Мой аккаунт — Бонусы
  %li
    %a{:href => "a-subscribe.html"} Мой аккаунт — Подписка
  %li
    %a{:href => "j-journal.html"} Журнал
  %li
    %a{:href => "j-article.html"} Статья
  %li
    %a{:href => "j-trends.html"} Тренды
  %li
    %a{:href => "j-media.html"} СМИ
  %li
    %a{:href => "designers.html"} Дизайнеры
  %li
    %a{:href => "h-help.html"} Помощь
  %li
    %a{:href => "h-delivery.html"} Доставка
  %li
    %a{:href => "h-payment.html"} Способы оплаты
  %li
    %a{:href => "h-return.html"} Возврат
  %li
    %a{:href => "h-qa.html"} Вопрос ответ
  %li
    %a{:href => "thanx.html"} Спасибо за покупку
  %li
    %a{:href => "404.html"} 404
  %li
    %a{:href => "sitemap.html"} Карта сайта
