---
page_class: "fof-page"
---
.fof
  %h1 <strong>Ошибка 404:</strong> Запрашиваемая страница не может быть найдена или больше не существует.
  %p Страница, которую вы искали, в настоящий момент недоступна. Приносим свои извинения. Пожалуйста, попробуйте обновить страницу позже, либо восполь- зуйтесь ссылками ниже, чтобы перейти в другой раздел сайта.
  .menu
    %a.menu-item{:href => "index.html"} Главная
    %a.menu-item{:href => "help.html"} Помощь
    %a.menu-item{:href => "account.html"} Аккаунт
    %a.menu-item{:href => "catalog.html"} Новинки
    %a.menu-item{:href => "catalog.html"} Одежда
    %a.menu-item{:href => "catalog.html"} Обувь
    %a.menu-item{:href => "journal.html"} Журнал
