---
menu_wishlist: "is__active"
---
%h1.on__mobile Wishlist
.box.wishlist
  .pblock
    .empty-message
      %p Вы не добавили в вишлист ни одного товара.
      %p.empty-additional Вишлист удобен для сохранения понравившихся вам продуктов. А делясь своим вишлистом в соцсетях с друзьями, вы получаете дополнительные бонусные баллы на счет!
      %p.empty-additional Возможно, вам понравится что-нибудь из наших последних поступлений:
  .additional
    = partial :"blocks/slider"
