
.brands-page.clear
  %a.side-title.js__toggler-click{:href => "#", :"data-toggle" => "#sidemenu"}  фильтры
  .side.sidebox.js__tbox#sidemenu
    .sidebox-close.on_mobile.js__closer
    .sidebox-body.scroll
      = partial :alphabet
      %h2
        %a{:href => "#"} все
      %h2
        %a{:href => "#"} новинки
      %h2
        %a{:href => "#"} одежда
      %h2
        %a{:href => "#"} ОБУВЬ
      %h2
        %a{:href => "#"} СУМКИ
      %h2
        %a{:href => "#"} аксессуары
      %h2
        %a{:href => "#"} sale
  .cntnt
    .cntnt-holder
      %h1 Бренды a-z
      .brands
        .brands-col
          .brands-list
            %h2 123
            %ul
              %li
                %a{:href => "#"} 3 Concept Eyes
          .brands-list
            %h2 A
            %ul
              %li
                %a{:href => "#"} Acne
              %li
                %a{:href => "#"} Adam
              %li
                %a{:href => "#"} Alberta Ferretti
              %li
                %a{:href => "#"} Alexander McQueen
              %li
                %a{:href => "#"} Alexander Wang
              %li
                %a{:href => "#"} Alexis Bittar
              %li
                %a{:href => "#"} Ali Ro
              %li
                %a{:href => "#"} Alice & Olivia
              %li
                %a{:href => "#"} Alice by Temperley
          .brands-list
            %h2 B
            %ul
              %li
                %a{:href => "#"} Blumarine
          .brands-list
            %h2 C
            %ul
              %li
                %a{:href => "#"} Chloe
              %li
                %a{:href => "#"} Christian Lacroix
              %li
                %a{:href => "#"} Colette Jewelry
              %li
                %a{:href => "#"} Conditions Apply
              %li
                %a{:href => "#"} Coralia Leets
              %li
                %a{:href => "#"} Costume National
              %li
                %a{:href => "#"} Current Elliot
              %li
                %a{:href => "#"} Cut25

          .brands-list
            %h2 D
            %ul
              %li
                %a{:href => "#"} Dasha Gauzer
              %li
                %a{:href => "#"} Deepa Gurnani
              %li
                %a{:href => "#"} Die_Blonde
              %li
                %a{:href => "#"} Dries Van Noten
              %li
                %a{:href => "#"} DRKSHDW by Rick Owens
          .brands-list
            %h2 F
            %ul
              %li
                %a{:href => "#"} Felder Felder

        .brands-col
          .brands-list
            %h2 I
            %ul
              %li
                %a{:href => "#"} I Am
              %li
                %a{:href => "#"} Icon by Julia Safina
              %li
                %a{:href => "#"} Iqdress
              %li
                %a{:href => "#"} Issa
          .brands-list
            %h2 J
            %ul
              %li
                %a{:href => "#"} Jil Sandler
              %li
                %a{:href => "#"} Junk Food

          .brands-list
            %h2 K
            %ul
              %li
                %a{:href => "#"} Kenzo
          .brands-list
            %h2 L
            %ul
              %li
                %a{:href => "#"} La  Room
              %li
                %a{:href => "#"} Lasuna
              %li
                %a{:href => "#"} Leila Shams
              %li
                %a{:href => "#"} Lena by Lena Vasyleva
              %li
                %a{:href => "#"} Libellulas
              %li
                %a{:href => "#"} Lin Art Project
          .brands-list
            %h2 M
            %ul
              %li
                %a{:href => "#"} Maloles
              %li
                %a{:href => "#"} Marc by Marc Jacobs
              %li
                %a{:href => "#"} Marios Schwab
              %li
                %a{:href => "#"} Mark Fast
              %li
                %a{:href => "#"} Markus Lupfer
              %li
                %a{:href => "#"} Masterpeace
              %li
                %a{:href => "#"} Minaromina
          .brands-list
            %h2 N
            %ul
              %li
                %a{:href => "#"} Nanushka
              %li
                %a{:href => "#"} Nicholas Kirkwood
          .brands-list
            %h2 P
            %ul
              %li
                %a{:href => "#"} Pauric Sweeney
              %li
                %a{:href => "#"} Preen
        .brands-col
          .brands-list
            %h2 Q
            %ul
              %li
                %a{:href => "#"} Queensbee

          .brands-list
            %h2 R
            %ul
              %li
                %a{:href => "#"} R. Pally
              %li
                %a{:href => "#"} Rachel Roy
              %li
                %a{:href => "#"} Ruban
              %li
                %a{:href => "#"} Ruffian
              %li
                %a{:href => "#"} Rupert Sanderson
          .brands-list
            %h2 S
            %ul
              %li
                %a{:href => "#"} ST by Teplov
          .brands-list
            %h2 T
            %ul
              %li
                %a{:href => "#"} T-bags
              %li
                %a{:href => "#"} Tatjana Anika
              %li
                %a{:href => "#"} Terry de Havilland
              %li
                %a{:href => "#"} Tucker
          .brands-list
            %h2 U
            %ul
              %li
                %a{:href => "#"} Ugg

          .brands-list
            %h2 V
            %ul
              %li
                %a{:href => "#"} V by Vlasova
              %li
                %a{:href => "#"} Vanushina
              %li
                %a{:href => "#"} Vera Wang
              %li
                %a{:href => "#"} Vlasova

          .brands-list
            %h2 W
            %ul
              %li
                %a{:href => "#"} Wildfox Couture

          .brands-list
            %h2 Z
            %ul
              %li
                %a{:href => "#"} ZDDZ
