%h1 Доставка
.inner
  .inner-section
    %h2 Москва и Санкт-Петербург
    %p.pale Доставка заказов осуществляется собственной курьерской службой нашего магазина в течение 1-3 дней с момента размещения заказа в интернет-магазине. Заказ будет доставлен по адресу, который указан при регистрации или при оформлении заказа.
    %h3 Москва
    %p 
      %em Доставка по Москве – 200 рублей + 100 рублей за каждую последующую вещь в заказе после первых трех вещей.
    %h3 Санкт-Петербург
    %p 
      %em Стоимость доставки для Санкт-Петербурга – 250 рублей + 100 рублей за каждую последующую вещь в заказе после первых трех.
  .inner-section
    %h2 Московская и Ленинградская области
    %p.pale Доставка заказов осуществляется собственной курьерской службой нашего магазина в течение 1-4 дней с момента размещения заказа в интернет-магазине. Заказ будет доставлен по адресу, который указан при регистрации.
    %h3 Московская область
    %p 
      %em Стоимость доставки в Московскую область и за пределы МКАД – 300 рублей. При расстоянии больше 10 км от МКАД, заказ может быть доставлен только в том случае, если сумма заказа превышает 20,000 рублей. В случае, если сумма заказа менее 20,000 рублей доставка осуществляется курьерской службой EMS.
    %h3 Ленинградская область
    %p 
      %em Стоимость доставки для Ленинградской области – 350 рублей. При расстоянии больше 20 км от КАД, заказ может быть доставлен только в том случае, если сумма заказа превышает 20,000 рублей. В случае, если сумма заказа менее 20,000 рублей доставка осуществляется курьерской службой EMS.
  .inner-section
    %h2 Регионы Российской Федерации
    %p 
      %em Доставка заказов осуществляется курьерской службой EMS Почта России в течение 3-14 дней с момента размещения заказа в интернет-магазине. Заказ будет доставлен по адресу, который указан при регистрации. Точная стоимость доставки отобразиться на стадии оформления заказа. Заказ будет доставлен после предварительного звонка по телефону для согласования времени доставки. После отправки заказа клиенту сообщается номер накладной курьерской службы, по которому можно отследить заказ на сайте службы доставки www.emspost.ru.
  .inner-section
    %h2 Другие страны
    %p.pale Доставка международных заказов осуществляется курьерской службой DHL в течение 3-14 дней с момента размещения заказа в интернет-магазине. Заказ будет доставлен по тому адресу, который указан при регистрации.
    %p 
      %em Точная стоимость доставки отобразится на стадии оформления заказа. Заказ будет доставлен после предварительного звонка по телефону для согласования времени доставки. После отправки заказа клиенту сообщается номер накладной курьерской службы, по которому можно отследить заказ на сайте http://www.dhl.ru.




