%h1 Помощь
.inner
  .inner-section
    %h2 Задать вопрос
    %p
      %strong Если вы так не найдете ответа на свой вопрос, вы сможете задать его сами! Мы ответим вам в течение суток.
    %a.button.js__popup-link{:href => "#feedback"} задать свой вопрос
  .inner-section
    %h2 Доставка
    %p Доставка заказов осуществляется выбранным вам при заказа способом. Заказ будет доставлен по адресу, который указан при регистрации или совершении заказа.
    %h4 выберите интересующую вас тему:
    .cols_3.ilinks
      .col
        %p
          %a{:href => "#"} Москва и Санкт-Петербург
        %p
          %a{:href => "#"} Другие страны
      .col
        %p
          %a{:href => "#"} Московская и Ленинградская<br/> области
      .col
        %p
          %a{:href => "#"} Регионы Российской Федерации

  .inner-section
    %h2
      Оплата
      %span.imgs.imgs_h
        %img{:src => "#{images_dir}/data/pays.png", :alt => ""}/
    %p Вы можете выбрать из представленных вариантов оплаты наиболее удобный и подходящий для вас. Подробности о каждом из них можно посмотреть, перейдя по ссылке.
    .cols_3.ilinks
      .col
        %p
          %a{:href => "#"} Наличными курьеру
        %p
          %a{:href => "#"} Банковской картой
      .col
        %p
          %a{:href => "#"} На банковский счет
        %p
          %a{:href => "#"} Яндекс.Деньги
      .col
        %p
          %a{:href => "#"} Qiwi
        %p
          %a{:href => "#"} Assist
  .inner-section
    %h2 Обмен и возврат
    %p Согласно 'Закону о защите прав потребителя' обмен и возврат возможен в срок до 7 дней с момента доставки заказа клиенту. Обязательным условием обмена и возврата является то, что товар не был в употреблении и имеет все сопроводительные документы, а также документы, подтверждающие факт оплаты.
    %h4 выберите интересующую вас тему:
    .cols_3.ilinks
      .col
        %a{:href => "#"} Общие положения
      .col
        %a{:href => "#"} Как совершить обмен или возврат товара
      .col
        %a{:href => "#"} Как отказаться от заказа
  .inner-section.inner-section_alt
    %h2 Вопрос-ответ
    %p Наиболее часто задаваемые вопросы мы поместили в специальный раздел Вопрос-Ответ, чтобы сэкономить ваше время, а также разбили все вопросы по темам.
    %h4 выберите интересующую вас тему:
    .cols_3.ilinks
      .col
        %p
          %a{:href => "#"} Работа магазина
        %p
          %a{:href => "#"} Оформление заказа
      .col
        %p
          %a{:href => "#"} Возврат и обмен товара
        %p
          %a{:href => "#"} Прочие вопросы
      .col
        %p
          %a{:href => "#"} Доставка и оплата
        %p
          %a{:href => "#"} Все вопросы
