%h1 оплата
.inner
  .inner-section
    %h2 Способы оплаты
    %p.pale После выбора метода доставки при оформлении заказа вы получаете возможность выбрать наиболее подходящий для вас способ оплаты. Это может быть как наличный, так и безналичный расчет.
    %h3 Наличными курьеру
    %p
      %em Мы доставляем товары, заказанные в нашем магазине, по Москве и ближайшему Подмосковью. Прием товара производится в присутствии сотрудника службы доставки. При этом проверяется комплектность изделия и отсутствие внешних дефектов.При доставке по Москве передача курьером товара, а так же оплата заказа производится только в зданиях. Курьер не уполномочен давать какие-либо консультации на технические или коммерческие темы, а также выполнять любые поручения клиента.
    %h3
      Банковской картой
      %span.imgs
        %img{:src => "#{images_dir}/data/pp1.jpg", :alt => ""}/
    %p
      %em Оплата банковской картой является одним из самых распространенных способов расчета между Интернет-магазином во всем мире, набирает обороты это направление и в России. Причина данной положительной тенденции — тот факт, что оплата по банковской карте позволяет быстро рассчитываться за покупки, не держа при этом наличные деньги «на руках», и клиенту это весьма удобно. Благодаря этому оплата банковскими картами Visa и MasterCard позволяет сделать процедуру расчета между клиентом и магазином наиболее оперативной и удобной.
    %h3
      Электронными деньгами
      %span.imgs
        %img{:src => "#{images_dir}/data/pp2.jpg", :alt => ""}/
    %p
      %em Для оплаты электронными деньгами у вас должен быть пополненный кошелек на Яндекс.Деньгах или WebMoney. Яндекс.Деньги — это удобная платежная система, созданная специально для безопасной оплаты покупок в интернете.Пополнить счет можно разными способами: с помощью карт предоплаты, через терминалы, денежным переводом или через интернет–банкинг, а также в отделениях банков и через банкоматы.
