%h1 Обмен и возврат
.inner
  .inner-section
    %h2 Общие положения
    %p.pale Согласно «Закону о защите прав потребителя» обмен и возврат возможен в срок до 7 дней с момента доставки заказа клиенту. Обязательным условием обмена и возврата является то, что товар не был в употреблении и имеет все сопроводительные документы (ярлыки, упаковка и пр.), а также документы, подтверждающие факт оплаты (чек на покупку, накладная, расписка курьера или иные документы). В случае обмена и возврата стоимость доставки оплачивается клиентом. В случае, если был получен некачественный товар или доставлено не то, что было заказано, стоимость повторной доставки оплачивает интернет-магазин. При оформлении процедуры возврата необходимо написать заявление о возврате или обмене с указанием личных паспортных данных. Возврат/обмен будет осуществлен в течении недели с даты получения возвращенного товара компанией.
    %h3 Как совершить обмен или возврат
    %p 
      %em Если Вы хотите совершить обмен или возврат товара Вам необходимо в течении 7 дней с момента получения заказа связаться с нашим call-центром по телефонам в Москве +7 (495) 609-69-68 или по электронному адресу info@ready-to-wear.ru и рассказать о своей ситуации. Операторы call-центра проинформируют о процедуре обмена и возврата товара и дальнейших действиях.
    %h3 Как отказаться от заказа
    %p 
      %em До того момента, пока заказ не будет отправлен Вы вправе отказаться от него без удержания стоимости доставки. Сделать это можно самостоятельно на личной странице в разделе «Мои заказы», нажав на кнопку «Удалить заказ». Также Вы можете отказаться от своего заказа, позвонив в call-центр по телефонам в Москве +7 (495) 609-69-68. Вы вправе отказаться от заказа в момент доставки, при этом стоимость доставки будет удержана.