.sitemap
  %h1 карта сайта
  %section.sitemap-section
    %h1 Каталог
    .fmenu
      .fmenu-block
        %h2
          %a{:href => "#"} Одежда
        %ul
          %li
            %a{:href => ""} Пиджаки
          %li
            %a{:href => ""} Платья
          %li
            %a{:href => ""} Брюки / Шорты
          %li
            %a{:href => ""} Джинсы
          %li
            %a{:href => ""} Юбки
          %li
            %a{:href => ""} Трикотаж
          %li
            %a{:href => ""} Пальто
          %li
            %a{:href => ""} Нижнее белье
          %li
            %a{:href => ""} Купальники
      .fmenu-block
        %h2
          %a{:href => "#"} Обувь
        %ul
          %li
            %a{:href => "#"} Пиджаки
          %li
            %a{:href => "#"} Платья
          %li
            %a{:href => "#"} Рубашки
          %li
            %a{:href => "#"} Брюки / Шорты
          %li
            %a{:href => "#"} Джинсы
          %li
            %a{:href => "#"} Юбки
      .fmenu-block
        %h2
          %a{:href => "#"} Сумки
        %ul
          %li
            %a{:href => "#"} Пиджаки
          %li
            %a{:href => "#"} Платья
          %li
            %a{:href => "#"} Рубашки
          %li
            %a{:href => "#"} Брюки / Шорты
          %li
            %a{:href => "#"} Джинсы
          %li
            %a{:href => "#"} Юбки
      .fmenu-block
        %h2
          %a{:href => "#"} Sale
        %ul
          %li
            %a{:href => "#"} Пиджаки
          %li
            %a{:href => "#"} Платья
          %li
            %a{:href => "#"} Рубашки
          %li
            %a{:href => "#"} Брюки / Шорты
          %li
            %a{:href => "#"} Джинсы
          %li
            %a{:href => "#"} Юбки
        %h2
          %a{:href => "#"} Бренды A-Z

  %section.sitemap-section
    %h1 полезная информация
    .fmenu
      .fmenu-block
        %h2 Follow us
        %ul
          %li
            %a{:href => "#"}
              Facebook
          %li
            %a{:href => "#"}
              Вконтакте
          %li
            %a{:href => "#"}
              Twitter
          %li
            %a{:href => "#"}
              Instagram
      .fmenu-block
        %h2 Мой аккаунт
        %ul
          %li
            %a{:href => "a-wishlist.html"} Wishlist
          %li
            %a.js__toggler-click{:href => "#", :"data-toggle" => "#login"} Войти
          %li
            %a.js__toggler-click{:href => "#", :"data-toggle" => "#register"} Регистрация
      .fmenu-block
        %h2 О компании
        %ul
          %li
            %a{:href => "#"} О нас
          %li
            %a{:href => "#"} Контакты
          %li
            %a{:href => "#"} Подарочная карта
          %li
            %a{:href => "#"} Бонусная программа
          %li
            %a{:href => "#"} Условия использования
          %li
            %a{:href => "#"} Сотрудничество
          %li
            %a{:href => "#"} Вакансии
      .fmenu-block
        %h2 Помощь
        %ul
          %li
            %a{:href => "h-payment.html"} Оплата
          %li
            %a{:href => "h-delivery.html"} Доставка
          %li
            %a{:href => "h-return.html"} Обмен и возврат
          %li
            %a{:href => "h-qa.html"} Вопрос-ответ
          %li
            %a.js__popup-link{:href => "#feedback"} Задать вопрос
      .fmenu-block
        %h2 <span>R*2*W</span> magazine
        %ul
          %li
            %a{:href => "j-journal.html"} Журнал
          %li
            %a{:href => "j-trends.html"} Тренды
          %li
            %a{:href => "j-media.html"} Пресса о нас
